header{
    /* background-color: #32f24640;
    margin: 0px;
    padding: 2%;
    box-shadow: 0px 0px 3px #0a2c11db; */

    background-color: #b6d3b9;
    margin: 0px;
    padding: 3% 0% 0% 0%;
    box-shadow: 0px 0px 3px #0a2c11db;

}
body{
    /* background-image: linear-gradient(to top right, rgb(87,14,40,.75), rgba(44, 155, 131, 0.75), rgb(99,137,75,.75), rgb(138,3,25,.75)); */
    /* background-image: linear-gradient(to top right, rgb(87,14,40,.75), rgba(44, 155, 131, 0.75), rgb(99,137,75,.75), rgb(138,3,25,.75), rgba(44, 155, 131, 0.75)); */
    background-image: linear-gradient(to top,#BCDEE8,#4093A3,#547C7E,#CCB19E);    background-repeat: no-repeat;
    height: 100%;
    margin: 0px;
    background-attachment: fixed;
    /* background-color: black; */
    text-align: center;
    align-content: center;
}
table{
    display: inline-block;
    margin: 5% 0%;
    /* background-color: #c6ae87; */
    background-color: #c68787;
    color: darkslategray;
    /* background-color: black; */
    padding: 4%;
    font-family: sans-serif;
    border-radius: 40px;
    box-shadow: 3px 3px 9px black;
    row-gap: 5px;
    border-spacing: 5px 10px;
}
td,th{
    /* background-color: rgb(111, 128, 144, .5); */

}
main{
    text-align: center;
    align-content: center;
}
input, select, button{
    padding: 5px;
    border-radius: 10px;
    display:inline-block;
}
#taskInputs{
    /* background-color: #c6ae87;
    margin: 0px;
    padding: 3%;
    box-shadow: 0px 0px 11px #633f0d69;
    border-radius: 10px; */

background-color: #438f9d;
    margin: 0px;
    padding: 3%;
    box-shadow: 0px 0px 11px #633f0d69;
    border-radius: 90px 90px 0px 0px;

}